* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
  }
  
  body {
    background: #fff;
    font: 30px sans-serif;
  }

  h1{
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    background-color: black;
  }